{% extends 'base.html.twig' %}

{% block title %}Hello AnnouncementController!{% endblock %}

{% block body %}
{% include 'components/header.html.twig' %}
<section id="indexAnnouncement">
    <h1 class="indexAnnouncement__title">
        Bienvenue sur DealsGames !
    <h1>
    <div class="indexAnnouncement__container">
        {% for announcemment in announcements %}
            <div class="indexAnnouncement__card">
                <figure class="indexAnnouncement__card-picture">
                    <img src="{{ asset('images/announcement/' ~announcemment.imageName) }}">
                </figure>
                <div class="indexAnnouncement__card-content">
                    <h2 class="indexAnnouncement__secondTitle">
                        {{ announcemment.title }}
                    </h2>
                    <p>
                        {{ announcemment.description }}
                    </p>
                    <a href="{{ path('details_announcement', {'id': announcemment.id}) }}" class="indexAnnouncement__link">
                            {{ announcemment.category.value }}
                        <i class="fa-solid fa-arrow-right"></i>
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>
</section>
{% endblock %}
